<table>
    <thead>
        <tr>
            <td>Admin</td>
            <td>Disabled</td>
            <td>Username</td>
            <td>Email</td>
            <td>Token</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < users.length; i++) { %>
        <tr>
            <td><%= users[i].admin %></td>
            <td><%= users[i].disabled %></td>
            <td><%= users[i].username %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].token %></td><td><a href="/panel/users/edit?username=<%= users[i].username %>"><i class="material-icons">edit</i></a></td>
        </tr>
        <% } %>
    </tbody>
</table>
